* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.demo {

  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: black;
}

h1 {
  color: rgb(255, 255, 255);
  font-size: 3rem;
}

button {
  color: rgb(0, 0, 0);
  background-color: aliceblue;
  padding: .5rem .8rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}